.img1{
    width: 1500px;
    height: 800px;
    margin-top: 200px;
    z-index: 1;
    height: 400px;
}

#text{
    text-align: center;
    font-size: xx-large;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: none;
    color: white;
    margin-top: 200px;
    
}
.form{
    padding-top: 60px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@media screen and (width<= 1000px) {
    
    .img1{
        width: 100%;
        height: 600px;
        margin-top: 200px;
        z-index: 1;
    }
}